@model List<MaddeChartDashboardQueryResponse>





 
        <div class="card card-xl-stretch">
            <!--begin::Header-->
            <div class="card-header justify-content-end ribbon ribbon-start">
                <div class="ribbon-label bg-danger">EGM Verisi</div>
             
                <div class="card-toolbar">

                    @(Html.Kendo().DropDownList()
                    .Name("drpMaddeler")
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .OptionLabel("Seçim Yapınız")
                    .SelectedIndex(0)
                    .DataSource(source =>
                    {
                    source.Read(read =>
                    {
                    read.Action("getMaddeTurleri", "Home");
                    });
                    })
                    .HtmlAttributes(new { style = "width: 100%" })
                    )

                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-5">



                @(Html.Kendo().Chart(Model)
                .Name("chartMaddeler")
                .Series(series =>
                {
                series
                .Column(model => model.Value, categoryExpression: model => model.Date)
                .Aggregate(ChartSeriesAggregate.Avg)
                .Tooltip(r=>r.Template("#= dataItem.Value # #= dataItem.MassType # #= dataItem.MassName #"));})
                .CategoryAxis(axis => axis
                .Date()
                .BaseUnit(ChartAxisBaseUnit.Years)
                .MajorGridLines(lines => lines.Visible(true)))
                .ValueAxis(axis => axis
                .Numeric()
                .Line(line => line.Visible(true)
                .Color("red")
                 )
                .Crosshair(r=>r.Color("blue")))
                .Tooltip(t => t
                .Visible(true)
                .AutoHide(true)))
            </div>
            <!--end::Body-->
        </div>
 