@inject IStringLocalizer<mnHome> L
 <div class="menu-item">
									<a class="menu-link" href="~/">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/coding/cod003.svg-->
											<span class="svg-icon svg-icon-2">
												 <img src="~/assets/media/icons/duotune/general/gen001.svg" class="h-25px me-10"/>
											</span>
											<!--end::Svg Icon-->
										</span>
										<span class="menu-title">@L["home"]</span>
									</a>
								</div>